#content {
  text-align:center;
  font-family: 'Trebuchet MS', sans-serif;
}

#button_id {
  width: 100px;
  height: 30px;
}

#HEADER {
  font-size:40px;
  color:red;
}

#image_animate {
  top:200px;
  left:10px;
  width:400px;
  height:400px;
  position:absolute;
}